<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="WcfServiceDemo.ProductService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="WcfServiceDemo.IProductService"/>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <!-- PARA DESARROLLO: desactivo security mode="Transport", porque no tengo certificado https en local -->
          <!-- https://docs.microsoft.com/es-es/dotnet/framework/wcf/feature-details/how-to-configure-an-iis-hosted-wcf-service-with-ssl -->

          <!-- RECORDATORIO: activarlo en produccion cuando se publique en IIS con un certificado valido en el servidor y configurado para el sitio -->
          <!--<security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>-->

        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- SOLO PARA DEBUG: poner valores en false antes de la implementación en produccion -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- 
        SOLO PARA DEBUG: Examinar el directorio raíz de la aplicación web durante la depuración (tambien configurable desde IIS)
        Establézcalo en false en produccion para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>